.group-child27 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
}
.address-logram-ipusm2,
.best-products2,
.contact-us2 {
  position: absolute;
  height: 5.61%;
  letter-spacing: -0.01em;
  line-height: 50px;
  display: inline-block;
}
.address-logram-ipusm2 {
  width: 17.63%;
  top: 29.2%;
  left: 8.97%;
}
.best-products2,
.contact-us2 {
  font-size: var(--font-size-13xl);
}
.contact-us2 {
  width: 19.03%;
  top: 19.53%;
  left: 5.65%;
  color: var(--color-lavenderblush-100);
}
.best-products2 {
  width: 24.83%;
  top: 18.86%;
  left: 71.28%;
  text-align: center;
}
.call-icon-12,
.logo-2-icon2,
.map-icon-12 {
  position: absolute;
  height: 6.29%;
  width: 18.77%;
  top: 18.84%;
  right: 41.68%;
  bottom: 74.88%;
  left: 39.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.call-icon-12,
.map-icon-12 {
  height: 4.94%;
  width: 2.07%;
  top: 29.85%;
  right: 92.28%;
  bottom: 65.21%;
  left: 5.65%;
}
.call-icon-12 {
  height: 5.39%;
  width: 3.11%;
  top: 40.74%;
  right: 91.24%;
  bottom: 53.87%;
}
.call-012345678902,
.commodo-consequat-duis2,
.dolore-eu-fugiat2 {
  position: absolute;
  height: 5.61%;
  width: 15.71%;
  top: 42.05%;
  left: 8.97%;
  letter-spacing: -0.01em;
  line-height: 50px;
  display: inline-block;
}
.commodo-consequat-duis2,
.dolore-eu-fugiat2 {
  height: 28.55%;
  width: 27.16%;
  top: 29.72%;
  left: 37.17%;
}
.dolore-eu-fugiat2 {
  height: 27.05%;
  width: 12.39%;
  top: 29.18%;
  left: 78.33%;
}
.mail-icon-12 {
  position: absolute;
  height: 5.27%;
  width: 3.68%;
  top: 51.85%;
  right: 91.24%;
  bottom: 42.87%;
  left: 5.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.email-demogmailcom4 {
  position: absolute;
  height: 12.91%;
  width: 19.7%;
  top: 51.86%;
  left: 8.97%;
  letter-spacing: -0.01em;
  line-height: 50px;
  display: inline-block;
}
.rectangle-parent1 {
  position: absolute;
  height: 98.23%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 1.77%;
  left: 0;
}
.vector-icon10,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 19.51%;
  width: 5.07%;
  top: 0;
  right: 70.91%;
  bottom: 80.49%;
  left: 24.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon9 {
  width: 7.6%;
  right: 48.41%;
  left: 43.99%;
}
.vector-icon10 {
  height: 22.11%;
  width: 6.7%;
  right: 28.67%;
  bottom: 77.89%;
  left: 64.63%;
}
.group-child28 {
  position: absolute;
  height: 0.52%;
  width: 100.13%;
  top: 42.95%;
  right: -0.07%;
  bottom: 56.54%;
  left: -0.07%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.all-rights-reserved2 {
  position: absolute;
  height: 35.54%;
  width: 88.57%;
  top: 64.46%;
  left: 7.19%;
  letter-spacing: -0.01em;
  line-height: 50px;
  display: inline-block;
}
.vector-container {
  position: absolute;
  height: 33.55%;
  width: 52.62%;
  top: 66.45%;
  right: 23.69%;
  bottom: 0;
  left: 23.69%;
  text-align: center;
}
.footer2 {
  position: absolute;
  top: 3919px;
  left: 15.03px;
  width: 1460.97px;
  height: 576px;
  color: var(--color-white);
}
.th-1-icon1 {
  position: absolute;
  top: 0;
  left: 63.13px;
  width: 155.32px;
  height: 140px;
  object-fit: cover;
}
.do-you-know-container1 {
  position: absolute;
  top: 0;
  left: 251px;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  width: 311.27px;
  height: 189.11px;
}
.sunship-is-a1 {
  font-family: var(--font-abeezee);
}
.sunship-is-a-container1 {
  position: absolute;
  top: 176px;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  width: 888.08px;
  height: 147.08px;
  font-family: var(--font-open-sans);
}
.icon4,
.th-1-group {
  position: absolute;
  height: 345px;
}
.icon4 {
  top: 0;
  left: 769.37px;
  width: 667px;
  object-fit: cover;
}
.th-1-group {
  top: 3170px;
  left: 21.04px;
  width: 1436.37px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-aclonica);
}
.what-says-costumer {
  position: absolute;
  top: 0;
  left: 417.07px;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  width: 623.31px;
  height: 75.96px;
}
.group-child29 {
  position: absolute;
  top: 30px;
  left: 9.02px;
  background-color: var(--color-ghostwhite);
  width: 1442.93px;
  height: 287px;
}
.jonh1 {
  position: absolute;
  top: 76px;
  left: 235.48px;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  width: 156.04px;
  height: 22.59px;
}
.client-img-1-icon1 {
  position: absolute;
  top: 47px;
  left: 2.97px;
  border-radius: var(--br-4xs);
  width: 235.48px;
  height: 218px;
  object-fit: cover;
}
.sng-da {
  margin: 0;
}
.sn-phm-rt-container1 {
  position: absolute;
  top: 108px;
  left: 237.48px;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  width: 802.88px;
  height: 135.55px;
}
.group-child30,
.group-child31 {
  position: absolute;
  top: 317px;
  left: 531.08px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-400);
  width: 105.92px;
  height: 54.26px;
}
.group-child31 {
  top: 317.69px;
  left: 764.66px;
  background-color: var(--color-gray-500);
}
.vector-icon11,
.vector-icon12 {
  position: absolute;
  height: 4.08%;
  width: 1.99%;
  top: 89.26%;
  right: 42.66%;
  bottom: 6.66%;
  left: 55.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon12 {
  right: 58.74%;
  left: 39.27%;
}
.what-says-costumer-parent {
  position: absolute;
  top: 3547px;
  left: 15.03px;
  width: 1451.95px;
  height: 371.95px;
  font-size: var(--font-size-21xl);
}
.gi-in-xc,
.mua-ngay5 {
  position: absolute;
  top: 945px;
  left: 942.92px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 173.35px;
}
.gi-in-xc {
  top: 992px;
  left: 747.52px;
  font-weight: 500;
  width: 576.17px;
}
.group-child32 {
  position: absolute;
  top: 864px;
  left: 968.8px;
  background-color: var(--color-gainsboro);
  width: 487.8px;
  height: 806px;
}
.div8,
.div9 {
  position: absolute;
  top: 1538px;
  left: 1251.64px;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: var(--color-red);
  text-align: center;
  display: inline-block;
  width: 189.14px;
}
.div9 {
  left: 979.37px;
  color: var(--color-black);
  width: 178.74px;
}
.group-child33 {
  position: absolute;
  top: 1559px;
  left: 980.89px;
  width: 115.31px;
  height: 3px;
}
.kem-dng-gip-container {
  position: absolute;
  top: 1393px;
  left: 996px;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 437.01px;
  height: 118px;
}
.group-child34 {
  position: absolute;
  top: 0;
  left: 242.77px;
  background-color: var(--color-black);
  width: 228.72px;
  height: 89px;
}
.thm-vo-gi4 {
  position: absolute;
  top: 13px;
  left: 246.87px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 219.45px;
}
.group-child35 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 228.72px;
  height: 89px;
}
.mua-ngay6 {
  position: absolute;
  top: 21px;
  left: 27.42px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 185.38px;
}
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 228.72px;
  height: 89px;
}
.rectangle-parent2 {
  position: absolute;
  top: 1581px;
  left: 969.61px;
  width: 471.48px;
  height: 91px;
}
.group-child36,
.sp-6-1 {
  position: absolute;
  top: 864px;
}
.sp-6-1 {
  left: 970.02px;
  width: 487.39px;
  height: 518px;
  object-fit: cover;
}
.group-child36 {
  left: 487.91px;
  background-color: var(--color-gainsboro);
  width: 465.5px;
  height: 806px;
}
.div10,
.div11 {
  position: absolute;
  letter-spacing: -0.01em;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.div10 {
  top: 1531px;
  left: 778.56px;
  color: var(--color-red);
  width: 177.52px;
  height: 64px;
}
.div11 {
  top: 1538px;
  left: 493.94px;
  color: var(--color-black);
  width: 154.71px;
}
.group-child37 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 225.44px;
  height: 89px;
}
.mua-ngay7 {
  position: absolute;
  top: 21px;
  left: 34.15px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 194.4px;
}
.rectangle-parent4 {
  position: absolute;
  top: 1581px;
  left: 487.91px;
  width: 228.55px;
  height: 89px;
}
.thm-vo-gi5 {
  position: absolute;
  top: 13px;
  left: 3.52px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 199.41px;
}
.rectangle-parent5 {
  position: absolute;
  top: 1579px;
  left: 727.97px;
  width: 225.44px;
  height: 91px;
}
.kem-chng-nng-container {
  position: absolute;
  top: 1393px;
  left: 528.65px;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 399.33px;
}
.group-child39 {
  position: absolute;
  top: 1557px;
  left: 504.06px;
  width: 98.51px;
  height: 5px;
}
.group-child40,
.sp-5-1 {
  position: absolute;
  top: 864px;
}
.sp-5-1 {
  left: 487.99px;
  width: 465.11px;
  height: 518px;
  object-fit: cover;
}
.group-child40 {
  left: 7.01px;
  background-color: var(--color-gainsboro);
  width: 465.5px;
  height: 806px;
}
.div12,
.div13,
.xt-khong-gip-container {
  position: absolute;
  top: 1538px;
  left: 286.68px;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: var(--color-red);
  text-align: center;
  display: inline-block;
  width: 177.52px;
}
.div13,
.xt-khong-gip-container {
  left: 15.94px;
  color: var(--color-black);
  width: 162.64px;
}
.xt-khong-gip-container {
  top: 1382px;
  left: 101.23px;
  font-weight: 500;
  width: 290.84px;
}
.group-child41 {
  position: absolute;
  top: 0;
  left: 3.58px;
  background-color: var(--color-black);
  width: 225.44px;
  height: 89px;
}
.thm-vo-gi6 {
  position: absolute;
  top: 9px;
  left: 0;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 221.45px;
}
.rectangle-parent6 {
  position: absolute;
  top: 1581px;
  left: 243.49px;
  width: 229.02px;
  height: 89px;
}
.mua-ngay8 {
  position: absolute;
  top: 23px;
  left: 29.75px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 185.45px;
}
.rectangle-parent7,
.sp-4-1 {
  position: absolute;
  top: 1579px;
  left: 7.01px;
  width: 225.44px;
  height: 89px;
}
.sp-4-1 {
  top: 864px;
  left: 18px;
  width: 465.11px;
  height: 513px;
  object-fit: cover;
}
.group-child43,
.group-child44 {
  position: absolute;
  top: 1554px;
  left: 19.33px;
  width: 113.12px;
  height: 4px;
}
.group-child44 {
  top: 717px;
  left: 1208.86px;
  background-color: var(--color-black);
  width: 225.44px;
  height: 89px;
}
.add-to-cart {
  position: absolute;
  top: 740px;
  left: 1239.64px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 163.89px;
}
.group-child45 {
  position: absolute;
  top: 717px;
  left: 969.57px;
  background-color: var(--color-black);
  width: 225.44px;
  height: 89px;
}
.buy-now {
  position: absolute;
  top: 740px;
  left: 1024.2px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 116.95px;
}
.group-child46 {
  position: absolute;
  top: 0;
  left: 969.6px;
  background-color: var(--color-gainsboro);
  width: 487.81px;
  height: 806px;
}
.nc-cn-bng-container {
  position: absolute;
  top: 532px;
  left: 1032.36px;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 357.19px;
}
.group-child47 {
  position: absolute;
  top: 692px;
  left: 985.71px;
  width: 116.12px;
  height: 3px;
}
.div14,
.div15 {
  position: absolute;
  top: 674px;
  left: 1262.03px;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: var(--color-red);
  text-align: center;
  display: inline-block;
  width: 182.9px;
}
.div15 {
  left: 979.36px;
  color: var(--color-black);
  width: 159px;
}
.group-child48 {
  position: absolute;
  top: 717px;
  left: 1221.16px;
  background-color: var(--color-black);
  width: 236.24px;
  height: 89px;
}
.thm-vo-gi7 {
  position: absolute;
  top: 733px;
  left: 1227.49px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 223.45px;
}
.group-child49 {
  position: absolute;
  top: 717px;
  left: 969.6px;
  background-color: var(--color-black);
  width: 236.24px;
  height: 89px;
}
.mua-ngay9 {
  position: absolute;
  top: 724px;
  left: 996.02px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 194.4px;
}
.sp-3-1 {
  position: absolute;
  top: 0;
  left: 968.97px;
  width: 488.44px;
  height: 511px;
  object-fit: cover;
}
.group-child50 {
  position: absolute;
  top: 0;
  left: 490.21px;
  background-color: var(--color-gainsboro);
  width: 465.5px;
  height: 806px;
}
.div16 {
  position: absolute;
  top: 674px;
  left: 18.93px;
  letter-spacing: -0.01em;
  font-weight: 600;
  display: inline-block;
  width: 152.72px;
}
.group-child51 {
  position: absolute;
  top: 696.52px;
  left: 15.95px;
  width: 114.08px;
  height: 2.22px;
}
.mua-ngay10,
.nc-lm-sch-container {
  position: absolute;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
}
.nc-lm-sch-container {
  top: 529px;
  left: 31.82px;
  text-align: center;
  width: 402.41px;
}
.mua-ngay10 {
  top: 11px;
  left: 16.12px;
  width: 194.4px;
}
.rectangle-parent8 {
  position: absolute;
  top: 717px;
  left: 0;
  width: 225.44px;
  height: 89px;
  color: var(--color-white);
}
.thm-vo-gi8 {
  position: absolute;
  top: 11px;
  left: 5.22px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 213.43px;
}
.rectangle-parent9 {
  position: absolute;
  top: 717px;
  left: 242.37px;
  width: 225.44px;
  height: 89px;
  color: var(--color-white);
}
.div17,
.sp-2-1 {
  position: absolute;
}
.sp-2-1 {
  top: 0;
  left: 0.09px;
  width: 465.11px;
  height: 511px;
  object-fit: cover;
}
.div17 {
  top: 674px;
  left: 304.7px;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: var(--color-red);
  text-align: center;
  display: inline-block;
  width: 153.31px;
}
.group-child54,
.parent {
  position: absolute;
  top: 0;
  height: 806px;
}
.parent {
  left: 487.91px;
  width: 467.81px;
  color: var(--color-black);
}
.group-child54 {
  left: 7.01px;
  background-color: var(--color-gainsboro);
  width: 465.5px;
}
.sp-1-1 {
  position: absolute;
  top: 0;
  left: 18px;
  width: 465.11px;
  height: 511px;
  object-fit: cover;
}
.div18,
.gel-ra-mt-container {
  position: absolute;
  display: inline-block;
}
.gel-ra-mt-container {
  top: 529px;
  left: 53.62px;
  font-weight: 500;
  color: var(--color-black);
  white-space: pre-wrap;
  text-align: center;
  width: 380.1px;
}
.div18 {
  top: 674px;
  left: 301.55px;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: var(--color-red);
  width: 156.69px;
}
.group-child55 {
  position: absolute;
  top: 691.99px;
  left: 18px;
  width: 111.58px;
  height: 1.75px;
}
.div19,
.thm-vo-gi9 {
  position: absolute;
  letter-spacing: -0.01em;
  display: inline-block;
}
.div19 {
  top: 674px;
  left: 33px;
  font-weight: 600;
  color: var(--color-black);
  width: 174.54px;
}
.thm-vo-gi9 {
  top: 16px;
  left: 2.91px;
  font-weight: 500;
  width: 219.17px;
}
.rectangle-parent10 {
  position: absolute;
  top: 717px;
  left: 247.08px;
  width: 225.44px;
  height: 94px;
}
.mua-ngay11 {
  position: absolute;
  top: 16px;
  left: 37.68px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 170.57px;
}
.mua-ngay-parent,
.rectangle-parent11 {
  position: absolute;
  top: 717px;
  left: 7.01px;
  width: 225.44px;
  height: 89px;
}
.mua-ngay-parent {
  top: 888px;
  left: 0;
  width: 1457.41px;
  height: 1672px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.baner-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -0.07%;
  bottom: 0;
  left: 0.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.baner1,
.banner-item {
  position: absolute;
  top: 2706px;
  left: 17.03px;
  width: 1442.93px;
  height: 360px;
}
.banner-item {
  height: 68.26%;
  width: 100%;
  top: 3.93%;
  right: 0;
  bottom: 27.81%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.banner1,
.group-child58 {
  position: absolute;
  top: 131px;
  left: 19.04px;
  width: 1437.92px;
  height: 701px;
}
.group-child58 {
  top: 0;
  left: 0;
  background-color: var(--color-seashell);
  width: 1435.86px;
  height: 131px;
}
.group-child59,
.user-icon-11 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 202.41px;
  height: 131px;
  object-fit: cover;
}
.user-icon-11 {
  top: 14.16px;
  left: 1167.63px;
  width: 67.93px;
  height: 78.19px;
  cursor: pointer;
}
.bag-icon-11,
.search-icon-11 {
  position: absolute;
  top: 27.14px;
  left: 1277.15px;
  width: 68.39px;
  height: 76.12px;
  object-fit: cover;
}
.search-icon-11 {
  top: 28.32px;
  left: 1369.6px;
  width: 73.59px;
  height: 76.71px;
}
.hi-p1,
.sn-phm1,
.thng-tin1,
.trang-ch2 {
  position: absolute;
  top: 67.27px;
  left: 218.05px;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  width: 199.96px;
  height: 29.5px;
}
.hi-p1,
.sn-phm1,
.thng-tin1 {
  left: 464.24px;
  width: 178.89px;
  height: 23.6px;
}
.hi-p1,
.thng-tin1 {
  top: 65px;
  left: 680.57px;
  width: 238.3px;
  height: 24px;
}
.hi-p1 {
  top: 69.63px;
  left: 933.5px;
  width: 148.72px;
  height: 23.6px;
}
.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: 19.04px;
  width: 1443.19px;
  height: 131px;
  font-size: var(--font-size-17xl);
}
.footer-group {
  position: absolute;
  top: -10px;
  left: -18px;
  width: 1476px;
  height: 4495px;
}
.sn-phm-ca-container1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 50px;
  white-space: pre-wrap;
  display: inline-block;
  width: 1440px;
  height: 95.93px;
}
.sn-phm-ca-chng-ti-container {
  position: absolute;
  top: 736px;
  left: -82px;
  width: 1440px;
  height: 95.93px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-open-sans);
}
.trang-sn-phm {
  position: relative;
  background-color: var(--color-white);
  width: 1440px;
  height: 4485px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-abeezee);
}
